/* Стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Стили для header */
header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

/* Стили для h1 */
h1 {
    margin: 0;
    font-size: 32px;
}

/* Стили для p */
p {
    margin: 10px 0;
    font-size: 18px;
}

/* Измените цвет кнопок */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F6AA0D; /* Новый цвет кнопок */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #E39500; /* Новый цвет кнопок при наведении */
}

/* Уберите стили для .intro, .intro2 и .introg */
.intro, .intro2, .introg {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 69px 0;
    color: #fff;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer; /* Курсор при наведении */
}

.intro {
    background-image: url('https://kappa.lol/OKQ2l'); /* Замените 'your-image.jpg' на путь к изображению */
}

.intro2 {
    background-image: url('https://kappa.lol/lkmdo'); /* Замените 'your-image.jpg' на путь к изображению */
}

.introg {
    background-image: url('https://kappa.lol/vrE4p'); /* Замените 'your-image.jpg' на путь к изображению */
}

.intro:hover, .intro2:hover, .introg:hover {
    background: #003366;
    color: #fff;
    transform: scale(1.05); /* Увеличение размера при наведении */
}

.school-bg {
    background-color: #f7f7f7;
    padding: 20px;
}

.intro, .features, .call-to-action {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #001f4d;
}
