/* Стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Стили для header */
header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Стили для h1 */
h1 {
    margin: 0;
    font-size: 32px;
}

/* Стили для h2 */
h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* Стили для p */
p {
    margin: 10px 0;
    font-size: 18px;
}

/* Стили для .announcement */
.announcement {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
}

/* Анимация при наведении на объявления */
.announcement:hover {
    transform: scale(1.05);
}

/* Стили для .school-bg */
.school-bg {
    background-color: #f7f7f7;
    padding: 20px;
}

/* Стили для .more-info */
.more-info {
    display: none; /* Скрыть элемент по умолчанию */
    padding: 10px;
    background-color: #f7f7f7;
}

/* Стили для кнопки "Вернуться на главную" */
.go-back-button {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Изменил "right" на "left" */
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px; /* Изменил border-radius для прямоугольной кнопки */
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.go-back-button a {
    text-decoration: none;
    color: #fff;
}

.go-back-button:hover {
    background-color: #001f4d;
}

/* Стили для кнопки "Вверх" */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.scroll-to-top-button {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #003366;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.scroll-to-top-button:hover {
    background-color: #001f4d;
}