body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    margin: 0;
    font-size: 25px;
    text-align: center;
}

ul.subject-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px;
    text-align: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

/* Дополнительные стили для кнопок */
a {
    font-size: 18px;
    margin-right: 10px;
    transition: transform 0.3s;
}

a:hover {
    transform: scale(1.05);
}

/* Стили для текста внизу страницы */
.bottom-text {
    text-align: center;
    font-size: 16px; /* Мелкий шрифт */
    margin-top: 20px;
    opacity: 0.35;
}

/* Стили для списка предметов */
.subject-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Выравнивание по центру */
}

li {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Сортировка кнопок по вертикали */
    align-items: center; /* Выравнивание кнопок по центру */
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px 0; /* Добавляет отступ между кнопками */
}

/* .subjets-list, li and a!!!*/
/* .subjets-list, li and a!!!*/
/* .subjets-list, li and a!!!*/

a:hover {
    background-color: #0056b3;
}

.br {
    margin: 190px;
}

.sl-br {
    margin: 100px;
}

/* Стили для кнопки "Вернуться на главную" */
.go-back-button {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Изменил "right" на "left" */
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px; /* Изменил border-radius для прямоугольной кнопки */
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.go-back-button a {
    text-decoration: none;
    color: #fff;
}

.go-back-button:hover {
    background-color: #001f4d;
}

/* Стили для кнопки "Вверх" */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.scroll-to-top-button {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #003366;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.scroll-to-top-button:hover {
    background-color: #001f4d;
}